/* PARAMETRES */

/* MINI RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* AJOUT DES FONTS */
@font-face {
    font-family: 'Persona';
    src: url('/data/Persona5Font/P5CardFont.woff') format('woff');
}

@font-face {
    font-family: 'NormalPersona';
    src: url('/data/Persona5Font/P5NormalFont.woff') format('woff');
}
/* PASSAGE EN BASE 10 */

html {
    font-size: 62.5%;
}

/* HEADER */

header{
    background-color: #00000080;
    color: rgb(255, 255, 255);
    padding-bottom: 5rem;
    font-family: 'Persona' , Arial, Helvetica, sans-serif;
    

}

/* BODY */

/*Responsive Full Background Image Using CSS
https://github.com/sixrevisions/responsive-full-background-image/blob/master/responsive-full-background-image.css */
body{
    color: rgb(238, 255, 0);
    background-image: url(data/images/BackgroundP5DayLight.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    font-size: 2rem;
    font-weight: bold;
    
}
a{
    color: rgb(255, 255, 255);
    font-family: 'NormalPersona' , Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-menu{
    align-content: center;
    border-top: 0.2rem solid red;
    border-bottom: 0.2rem solid red;
    border-left: 10rem solid transparent; /* Ajustez la largeur selon vos besoins */
    border-right: 10rem solid transparent; /* Ajustez la largeur selon vos besoins */
    border-radius: 2% 2%;
    background-color: #00000080;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
    position: relative;
  }


img{
    display: flex;
    height: 25rem;
    margin: auto;
    width: 45rem;
}

p{
    padding: 50rem;;
}

