*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/*Responsive Full Background Image Using CSS
https://github.com/sixrevisions/responsive-full-background-image/blob/master/responsive-full-background-image.css */
body{
    color: rgb(238, 255, 0);
    background-image: url(data/images/BackgroundP5Night.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    font-size: 2rem;
    font-weight: bold;
    
}

a{
    text-decoration: none;
    color: yellow;
}

.nav-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 2.5rem;
    border-top: 0.2rem solid red;
    border-bottom: 0.2rem solid red;
    border-left: 10rem solid transparent; /* Ajustez la largeur selon vos besoins */
    border-right: 10rem solid transparent; /* Ajustez la largeur selon vos besoins */
    border-radius: 2% 2%;
    background-color: #00000080;
  }


img{
    height: 25rem;
    width: 45rem;
    margin: auto;
    display: flex;
}

p{
    padding: 50rem;;
}

